<div>
    <h1>Real Time Products</h1>

    <form id="formNewProduct">
    <input type="text" name="title" placeholder="Ingrese el titulo" required>
    <input type="text" name="description" placeholder="Ingrese la descripcion" required>
    <input type="text" name="code" placeholder="Ingrese el codigo " required>
    <input type="number" name="price" placeholder="Ingrese el precio" required>
    <input type="number" name="stock" placeholder="Ingrese el stock" required>
    <input type="text" name="category" placeholder="Ingrese la categoria" required>

    <button type="submit">Enviar</button>
    </form>

    <h2>Lista de Productos</h2>
    <ul id="productsList">
        {{#each products}}
        <li>{{this.title}} - {{this.price}}</li>
        {{/each}}
    </ul>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>